* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1:hover{
    font-size: 110px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.heading {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.heading h1{
    font-size: 80px;
}
.heading h1:hover{
    font-size: 110px;
    transform: rotateX('angle');
}
.text .text-for-me{
    line-height: 24px;
}
aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset;
    font-style: italic;
    color: white;
}

.heading img{
    width: 450px;
    margin-left: 8rem;
}
.content{
    margin-left: 1.5rem;
}
.content .first-section h1{
    font-size: 80px; 
    text-decoration: none;
    color: white;
}
.content .first-section h1:hover{
    font-size: 110px;
    transform: rotateX('angle');
}
.content .first-section>.info{
    display: flex;
    flex-direction: row;
}
.content .first-section>.info h2{
    font-size: xx-large;
}
.info a{
    text-decoration: none;
    color: white;
}
.second-section{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 30rem;
}
.second-section h2{
    font-size: 50px;
}
.second-section>.skills ul li{
    font-size: x-large;
}
.second-section  img{
    width: 350px;
}
.second-section>.education p{
    font-weight: bold;
}

.contacts{
    margin-left: 1.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 25rem;
}
.contacts>.info h1{
    font-size: 100px;
    padding-bottom: 20rem;
}
.contacts>.info {
    font-size: x-large;
}
.contacts img{
    width: 600px;
}